 @model ExerciseXData_ExerciseLibrary.Models.CategoriesModel

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<form method="post">
    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h1 class="text-primary">Edit Category</h1>
            <hr/>
        </div>

        @Html.HiddenFor(model => model.C_Id)
        <div asp-validation-summary="All"></div> @*Displays all the validation texts*@
        <div class="mb-3">
            <label asp-for="C_Name"></label>
            <input asp-for="C_Name" class="form-control"/>
            <span asp-validation-for="C_Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="C_Image"></label>
            <input asp-for="C_Image" class="form-control" />
            <span asp-validation-for="C_Image" class="text-danger"></span>
        </div>

        <div>
            <label for="C_Modified_Date">Modified Date</label>
            <input asp-for="C_Modified_Date" type="datetime-local" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{ @*this part is responsible for the client side*@
    @{
        <partial name ="_ValidationScriptsPartial"/>
    }
}