@model ExerciseXDataLibrary.DataTransferObject.LoginDto;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="login-container">
        <form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
            <h2>Login</h2>
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <br />
                <input asp-for ="Username" type="text" required>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                 <br />
                <input asp-for="Password" type="password" required>
            </div>
              <br />
            <button class="btn btn-primary" button type="submit">Login</button>
            <p class="error-message" id="errorMessage"></p>
        </form>
    </div>

    <script src="login.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
