@model Food


    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h1 class="text-primary"> Exercise Details</h1>
            <h1>Details for @Model.F_Name</h1>
            <hr />
        </div>
        
        <div class = "form-group text-center"></div>



        <div class="mb-3">
        <label asp-for="F_Image"></label>
        <input asp-for="F_Image" class="form-control" readonly />
        <span asp-validation-for="F_Image" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="F_Name"></label>
            <input asp-for="F_Name" class="form-control" readonly />
            <span asp-validation-for="F_Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="F_Food_Calories"></label>
        <input asp-for="F_Food_Calories" class="form-control" readonly />
        <span asp-validation-for="F_Food_Calories" class="text-danger"></span>
        </div>
    @*<div class="mb-3">
    <label asp-for="F_Modify_Date"></label>
    <input asp-for="F_Modify_Date" class="form-control" readonly />
    <span asp-validation-for="F_Modify_Date" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.F_Id" ></a>
        <a class="btn btn-secondary" asp-action="Index" style="width:150px">Back to List</a>
    </div>
</div>

@section Scripts{
    @*this part is responsible for the client side*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}