@model Diets

    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h1 class="text-primary"> Diet Details</h1>
            <h1>Details for @Model.D_Name</h1>
            <hr />
        </div>
        
        <div class = "form-group text-center"></div>

        <div class="mb-3">
            <label asp-for="D_Id"></label>
            <input asp-for="D_Id" class="form-control" readonly />
            <span asp-validation-for="D_Id" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Name"></label>
            <input asp-for="D_Name" class="form-control" readonly />
            <span asp-validation-for="D_Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Description"></label>
            <input asp-for="D_Description" class="form-control" />
            <span asp-validation-for="D_Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Serving_Size"></label>
            <input asp-for="D_Serving_Size" class="form-control" />
            <span asp-validation-for="D_Serving_Size" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Recommended_Servings"></label>
            <input asp-for="D_Recommended_Servings" class="form-control" />
            <span asp-validation-for="D_Recommended_Servings" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="D_Frequency"></label>
            <input asp-for="D_Frequency" class="form-control" />
            <span asp-validation-for="D_Frequency" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Pros_1"></label>
        <input asp-for="D_Pros_1" class="form-control" readonly />
            <span asp-validation-for="D_Pros_1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="D_Pros_2"></label>
        <input asp-for="D_Pros_2" class="form-control" readonly />
            <span asp-validation-for="D_Pros_2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="D_Pros_3"></label>
        <input asp-for="D_Pros_3" class="form-control" readonly />
            <span asp-validation-for="D_Pros_3" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="D_Cons_1"></label>
        <input asp-for="D_Cons_1" class="form-control" readonly />
            <span asp-validation-for="D_Cons_1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="D_Cons_2"></label>
        <input asp-for="D_Cons_2" class="form-control" readonly />
            <span asp-validation-for="D_Cons_2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="D_Cons_3"></label>
            <input asp-for="D_Cons_3" class="form-control" readonly />
            <span asp-validation-for="D_Cons_3" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="D_Modified_Date"></label>
            <input asp-for="D_Modified_Date" class="form-control" readonly />
            <span asp-validation-for="D_Modified_Date" class="text-danger"></span>
        </div>

        <div class="form-group">
        
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.D_Id" ></a>
        <a class="btn btn-secondary" asp-action="Index" style="width:150px">Back to List</a>
    </div>
</div>

@section Scripts{
    @*this part is responsible for the client side*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}