 @model ExerciseXData_DietLibrary.Models.FoodsModel

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<form method="post">
    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h1 class="text-primary">Edit Category</h1>
            <hr />
        </div>

        @Html.HiddenFor(model => model.F_Id)
        <div asp-validation-summary="All"></div> @*Displays all the validation texts*@
        <div class="mb-3">
            <label asp-for="F_Image"></label>
            <input asp-for="F_Image" class="form-control" />
            <span asp-validation-for="F_Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="F_Name"></label>
            <input asp-for="F_Name" class="form-control" />
            <span asp-validation-for="F_Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="F_Group"></label>
            <input asp-for="F_Group" class="form-control" />
            <span asp-validation-for="F_Group" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="F_Calories"></label>
            <input asp-for="F_Calories" class="form-control" />
            <span asp-validation-for="F_Calories" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Foods" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts {
    @*this part is responsible for the client side*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}