@model DietsFoodsModel

<form method="post" asp-action="DeletePOST">
    @*DeletePOST here can change name with the CategoryController POST method*@
    <input type="hidden" asp-for="D_Id" />
    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h1 class="text-primary">Delete Diets</h1>
            <hr />
        </div>

        <div asp-validation-summary="All"></div> @*Displays all the validation texts*@

        <div class="mb-3">
            <label asp-for="DF_Id"></label>
            <input asp-for="DF_Id" disabled disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="D_Id"></label>
            <input asp-for="D_Id" disabled disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="F_Id"></label>
            <input asp-for="F_Id" disabled disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="DF_Modified_Date"></label>
            <input asp-for="DF_Modified_Date" disabled class="form-control" />
            <span asp-validation-for="DF_Modified_Date" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="DietsFoods" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts {
    @*this part is responsible for the client side*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}